@model Note
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{

	<form method="post" asp-action="Delete">
		<input asp-for="ID" hidden />
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Delete Note</h2>
				<hr />
			</div>
			@*<div asp-validation-summary="All"></div>*@
			<div class="mb-3">
				<label asp-for="NoteText"></label>
				<input asp-for="NoteText" disabled style="height:200px" class="form-control" />
			</div>
			<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
			<a asp-controller="Note" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
		</div>
	</form>
}
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
